header.sheet-header {
  display: grid;
  grid-template: min-content min-content / auto min-content min-content 1fr min-content;
  grid-template-areas:
    "portrait charname charname charname pronouns"
    "portrait hp speed tags tags";
  gap: 0.25rem;
  @import "components/header-boxes";
  .items {
    grid-area: items;
    gap: 0.25rem;
  }
  .item-box {
    border: 1px solid red;
    flex: 1 0;
    // min-height: 3rem;
    .label {
      grid-area: label;
      border-bottom: 1px solid $dividerColor;
      background: $labelBg;
      padding: 0rem 0.5rem;
    }
    .value {
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-18);
    }
  }
}

section.abilities {
  $borderColor: var(--hellpiercers-sheet-box-border);
  $dividerColor: var(--hellpiercers-sheet-box-divider);
  $labelBg: color(from $dividerColor srgb r g b / 0.25);

  gap: 0.25rem;
  .item-block {
    border: 1px solid $borderColor;
    &.weapon {
      select {
        background: none;
        border: none;
        text-align: center;
        font-size: var(--font-size-18);
        transition: initial;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }
    .label {
      grid-area: label;
      border-bottom: 1px solid $dividerColor;
      background: $labelBg;
      padding: 0rem 0.5rem;
    }
    .value {
      padding: 0rem 0.5rem;
    }
  }
}
