$borderColor: var(--hellpiercers-sheet-box-border);
$dividerColor: var(--hellpiercers-sheet-box-divider);
$labelBg: color(from $dividerColor srgb r g b / 0.25);

@mixin plain-input {
  input {
    background: none;
    border: none;
    text-align: center;
    font-size: var(--font-size-18);
    transition: initial;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

@mixin box-label {
  grid-area: label;
  border-bottom: 1px solid $dividerColor;
  background: $labelBg;
  padding: 0rem 0.5rem;
}

div.charname {
  grid-area: charname;
  input {
    font-size: var(--font-size-32);
    font-family: var(--font-h1);
    background: none;
    border: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
div.pronouns {
  grid-area: pronouns;
  display: grid;
  grid-template: min-content min-content / auto;
  grid-template-areas: "label" "value";
  border: 1px solid $borderColor;
  width: 10rem;
  label {
    @include box-label;
  }
  div.value {
    grid-area: value;
    @include plain-input;
    input {
      text-align: initial;
      font-size: var(--font-size-14);
    }
  }
}
div.portrait {
  grid-area: portrait;
  display: flex;
  align-items: center;
  justify-content: center;
  img.portrait {
    flex: 1;
    aspect-ratio: 1 / 1;
    height: 100px;
    object-fit: cover;
    object-position: 50% top;
      margin: 0;
  }
}
div.hp {
  grid-area: hp;
  display: grid;
  grid-template: min-content 2rem / 3rem 3rem;
  grid-template-areas: "label label" "value max";
  border: 1px solid $borderColor;

  label {
    @include box-label;
  }
  .value {
    grid-area: value;
    border-right: 1px solid $dividerColor;
    @include plain-input;
  }
  .max {
    grid-area: max;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-18);
    @include plain-input;
  }
}
div.speed {
  grid-area: speed;
  display: grid;
  grid-template: min-content 2rem / 4rem;
  grid-template-areas: "label" "value";
  border: 1px solid $borderColor;
  div.label {
    @include box-label;
  }
  .value {
    grid-area: value;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-18);
    @include plain-input;
  }
}
div.scale {
  grid-area: scale;
  display: grid;
  grid-template: min-content 2rem / 4rem;
  grid-template-areas: "label" "value";
  border: 1px solid $borderColor;
  div.label {
    @include box-label;
  }
  .value {
    grid-area: value;
    @include plain-input;
  }
}
div.chartags {
  grid-area: tags;
  display: grid;
  grid-template: min-content 2rem / 1fr;
  grid-template-areas: "label" "value";
  border: 1px solid $borderColor;
  div.label {
    @include box-label;
  }
  div.value {
    grid-area: value;
  }
}
