nav.sheet-tabs {
  padding: 0 1rem;
  border-top: 1px solid var(--color-text-selection-bg);
  border-bottom: 1px solid var(--color-text-selection-bg);

  a {
    flex: 1;
    &:hover {
      text-shadow: unset;
    }
    &.active {
      background: var(--color-text-selection-bg);
      color: var(--color-text-selection);
      text-shadow: unset;
    }
  }
}
