:root {
  --hellpiercers-test-property: true;
}

.hellpiercers {
  &.sheet.actor {
    @import "styles/actor-sheet";
    &.demon {
      @import "styles/demon-sheet";
    }
  }

  &.sheet {
    &.item {
      section.window-content {
        label {
          flex: 0 0 auto;
        }
        input[type="number"] {
          flex: 0 0 3rem;
        }
        .tab.effects {
          ol {
            list-style-type: none;
            margin: 0;
            padding: 0;
            // overflow-y: auto;
            // scrollbar-width: thin;
            li.header {
              column-span: all;
              border-bottom: 1px dashed;
            }
            &.temporary {
              columns: 2;
            }
            li {
              img {
                flex: 0;
                margin: auto 0.25rem;
              }
              a.control {
                flex: 0;
                padding: 0.1rem;
              }
              input[type="checkbox"] {
                flex: 0;
              }
            }
          }
        }
      }
    }
  }
}

.hellpiercers.tjs-window-app.sheet {
  &.item,
  &.actor {
    section.window-content {
      background: var(--hellpiercers-primary-background, url(../../ui/parchment.jpg) repeat);
      color: var(--hellpiercers-primary-foreground, var(--color-text-dark-primary));
      input {
        color: var(--hellpiercers-primary-foreground, var(--color-text-dark-primary));
      }
    }
  }
}
