:root {
  --hellpiercers-test-property: true;
  --hellpiercers-sheet-box-border: #584a75;
  --hellpiercers-sheet-box-divider: #3e3453;
}
.theme-light {
  --hellpiercers-test-property: false;
  --hellpiercers-sheet-box-border: #777777;
  --hellpiercers-sheet-box-divider: #aaaaaa;
}

body.system-hellpiercers {
  --font-h1: "MedievalSharp", cursive;
}

.hellpiercers {
  &.sheet.actor {
    @import "styles/sheets/actor";
    &.human {
      @import "styles/sheets/human";
    }
    &.demon {
      @import "styles/sheets/demon";
    }
    &.boss {
      @import "styles/sheets/boss";
    }
  }
  &.sheet.item {
    @import "styles/sheets/item";
    &.ability {
      @import "styles/sheets/ability";
    }
  }
  &.range-editor {
    @import "styles/range-editor";
  }
  &.new-ability {
    @import "styles/new-ability";
  }
}
